
   <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ng Spotify</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul id="lista"class="nav navbar-nav">
            <li class="active" [style.background-color]="zmiana()"><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li (click)="zmiana2($event)"><a routerLink="/about"routerLinkActive="active">About</a></li>
     
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>