/* You can add global styles to this file, and also import other style files */

body{
    padding-top: 50px;
}
#maino{
    
    width: 100%;
    height: 100%;
  
   background-color: rgba(0,0,0,0.9);
}
#mleczko{
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    background-color:black;
    opacity: 0.9 !important;
}
#obrazo{
    opacity: 0.3;
    margin-top: 10px;
   min-height: 470px;
   width:100%;
   background-image: url('http://notiosradio.gr/wp-content/uploads/2014/07/programme.jpg');
   background-attachment: fixed;
   background-position: center;
}
#loading{
    margin: auto auto;
}