<h1>Potrzebujesz muzy ?</h1>
<p class="lead">Umcia umcia pekla gumcia :D</p>
<div class="form-group" id="maino">
    <input type="text" name="search" [(ngModel)]="searchStr" class="form-control" (keyup)="searchMusic()" placeholder="Szukaj muzyki"/>
</div>

<div *ngIf="searchRes">
    <div *ngFor="let s of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4><a href="#">{{s.name}}</a></h4>
                    <div *ngFor="let g of s.genres">
                        <div *ngIf="g">
                        <strong># </strong>
                        <span> {{g}}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>